body{
    color:white;
    background-color: #D1DCE8;
    font-family: Arial, 

}

  
  .brand-name {
    position: absolute;
    top: 21px;
    left: 141px;
  }
  
 .quadrado8{
    width: 161px;
  height: 36px;
  position: relative; 
  top: 70px;
  left: 0px;
  background-color:#17e979; 

  }
 .quadrado7{
  width: 161px;
  height: 36px;
  position: relative; 
  top: 70px;
  left: 0px;
  background-color:#17e979; 
 }
 .quadrado6{
  width: 400px;
  height: 36px;
  position: relative; 
  top: -240px;
  left: 500px;
  border-radius: 8px;
  background-color:#D9D9D9;  
 }
 .quadrado5{
    width: 400px;
    height: 36px;
    position: relative; 
    top: 80px;
    left: 0px;
    border-radius: 8px;
    background-color:#D9D9D9;  
 }
  .quadrado4{
    width: 400px;
    height: 36px;
    position: relative; 
    top: 80px;
    left: 0px;
    border-radius: 8px;
    background-color:#D9D9D9;  
  }
  .quadrado3{
      width: 400px;
      height: 36px;
      position: relative; 
      top: 80px;
      left: 0px;
      border-radius: 8px;
      background-color:#D9D9D9;  
    }
  .quadrado2{
    width: 400px;
    height: 36px;
    position: relative; 
    top: -400px;
    left: 180px;
    border-radius: 8px;
    background-color:#D9D9D9; 
  }
  
  .quadrado1{
    width: 1045px;
    height: 712px;
    position: relative; 
    top: 78px;
    left: 164px;
    border-radius: 30px;
    background-color:#FFFFFF;
  }



  h1{
    width: 1090px;
    height: 46px;
    position: relative; 
    top: -600px;
    left: 225px;
    font-family: Arial;
    color:#000000

  }

  h2{
 width: 1090px;
    height: 46px;
    position: relative; 
    top: -600px;
    left: 225px;
    font-family: Arial;
    color:#000000
  }
  h3{
    width: 1090px;
      height: 46px;
      position: relative; 
      top: -170px;
      left: -500px;  
      font-family: Arial;
      color:#000000 
  }
  h4{
    width: 1090px;
    height: 46px;
    position: relative; 
    top: -160px;
    left: -500px; 
    font-family: Arial;
    color:#000000
  }
  h5{
    width: 1090px;
    height: 46px;
    position: relative; 
    top: -150px;
    left: -500px;   
    font-family: Arial;
    color:#000000
  }
  h6{
    width: 1090px;
    height: 46px;
    position: relative; 
    top: -140px;
    left: -500px; 
    font-family: Arial;
    color:#000000
  }
  h7{
    width: 1090px;
    height: 46px;
    position: relative; 
    top: -442px;
    left: 0px;
    font-family: Arial;
    color:#000000
  }
  h8{
    width: 1090px;
    height: 46px;
    position: relative; 
    top: -360px;
    left: 25px;
    font-family: Arial;
    color:#000000
  }
  h9{
    width: 1090px;
    height: 46px;
    position: relative; 
    top: -290px;
    left: -45px;
    font-family: Arial;
    color:#000000
  }