* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }
  
  body {
    display: flex;
    background-color: #ececec;
    color: rgb(0, 0, 0);
    height: 100vh;
    font-size: 22px;
  }
  
  .main-content {
    margin-left: 100px;
    flex: 1;
    padding: 20px;
    width: calc(100% - 100px);
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    padding: 10px 0;
  }
  
  .brand-name img {
    width: 80px;
    height: 80px;
  }
  
  .profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .assiduidade-container {
    background-color: #CFCFCF;
    border-radius: 20px;
    padding: 25px;
    width: 1033px;
    height: 720px;
    margin: 0 auto;
  }
  
  .page-title {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 50px;
  }
  
  .filter-section {
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
  }
  
  .filter-button, .order-button {
    background-color: #17E979;
    color: white;
    border: 1px solid #B4B4B430;
    box-shadow: inset 0 0 20px #BADEE154;
    border-radius: 8px;
    padding: 10px 15px;
    font-size: 22px;
    cursor: pointer;
  }
  
  .orgao-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .orgao-item {
    background-color: #F6F6F6;
    border-radius: 10px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .orgao-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 350px;
  }

  .orgao-metrics {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    border-right: 3px solid #1C3166;
    padding-right: 20px;
  }

  .orgao-response {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    text-align: center;
    justify-content: center;
    margin-right: 50px;
  }

  .orgao-response p {
    margin: 0;
  }

  .orgao-info h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .rating {
    display: flex;
    align-items: center;
  }
  
  .star {
    color: #CCCCCC;
    font-size: 20px;
    margin-right: 2px;
  }
  
  .star.filled {
    color: #FFD700;
  }
  
  .rating-value {
    margin-left: 5px;
    font-size: 16px;
    color: #000000;
  }
  
  .btn-details {
    background-color: transparent;
    color: #1898F9;
    border: none;
    font-size: 16px;
    cursor: pointer;
    padding: 5px 0;
    text-decoration: underline;
  }
  
  .response-time {
    font-size: 16px;
    color: #000000;
  }
  
  .btn-avaliar {
    background-color:#17E979;
    box-shadow: inset 0 0 30px #BADEE115;
    color: white;
    border: 1px solid #B4B4B430;
    border-radius: 8px;
    padding: 8px 25px;
    font-size: 16px;
    cursor: pointer;
    margin: auto;
  }
  
  .btn-avaliar:hover {
    background-color: #F6F6F6;
  }