<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fiscaliza+ | Perfil do Usuário</title>
  <link rel="stylesheet" href="perfil.css">
</head>
<body>
  <nav>
    <ul class="sidebar">
      <li class="logo">
        <img src="../img/freepik__create-a-logo-for-fiscaliza-featuring-a-stylized-m__94104 6.png" alt="logo">
      </li>
      <li class="sidebar-icon">
        <a href="#">
          <img src="../img/home.png" alt="home-button">
        </a>
      </li>
      <li class="sidebar-icon">
        <a href="#">
          <img src="../img/message-square.png" alt="message-button">
        </a>
      </li>
      <li class="sidebar-icon">
        <a href="#">
          <img src="../img/Document.png" alt="document-button">
        </a>
      </li>
      <li class="sidebar-icon">
        <a href="#">
          <img src="../img/User Rounded.png" alt="user-icon">
        </a>
      </li>
      <li class="sidebar-icon">
        <a href="#">
          <img src="../img/logout.png" alt="logout-icon">
        </a>
      </li>
    </ul>
  </nav>
  
  <div class="main-content">
    <div class="brand-name">
      <img src="../img/fiscaliza+-name.png" alt="">
    </div>

    <div class="profile-header">
      <img src="#" alt="Foto de perfil" class="profile-pic">
      <h1 class="profile-title">Perfil Do Usuário</h1>
    </div>
    
    <div class="profile-container">
      <div class="profile-field">
        <label for="nome">Nome:</label>
        <input type="text" placeholder="Digite seu Nome" value="Maria Rita De Souza">
      </div>
      
      <div class="profile-field">
        <label for="e-mail">E-mail:</label>
        <input type="text" placeholder="Digite seu E-mail" value="Mariarita123@gmail.com">
      </div>
      
      <div class="profile-field">
        <label for="data-nascimento">Data De Nascimento:</label>
        <input type="date" id="data-nascimento" placeholder="DD/MM/AAAA" value="1984-09-14">
      </div>
      
      <div class="profile-field">
        Notificações
      </div>
      
      <div class="profile-field">
        Acompanhar denúncias
      </div>
      
      <button class="btn-alterar">Alterar</button>
    </div>
  </div>
</body>
</html>