<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<<<<<<<< HEAD:Fiscaliza+/resources/views/alterar-perfil-usuario.html
    <link rel ="stylesheet" href="alterar-perfil-usuario.css">
    <script src="../js/sidebar-loader.js"></script>
========
    <link rel ="stylesheet" href="../css/alterar-perfil-usuario.css">
>>>>>>>> f62c54338f2f237ec2c953fd32180253db71940b:Fiscaliza+/resources/views/perfil-do-usuario.html
</head>

</html>

</body>
a</html>   
<div id="sidebar-container"></div>
<div class="quadrado1">
        <img src="./img/girl user.png"></img> 
    </div>
  </div>
  <h1>Meu Perfil </h1>
  <h2>Cadastro de usuário</h2>

<div class="quadrado2">
<div class="quadrado3">
<div class="quadrado4">
<div class="quadrado5">
<div class=" quadrado6">
<div class="quadrado7">
<div class="quadrado8">
<h3>E-mail *</h3>
<h4>Nome *</h4>
<h5>Telefone *</h5>
<h6>Celular *</h6>
<h7>Data de Nascimento *</h7>
<h8>Alterar Senha</h8>
<h9>Salvar</h9>
