<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fiscaliza+</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="register-container">
        <img src="img/freepik__create-a-logo-for-fiscaliza-featuring-a-stylized-m__94104 3.png" alt="">
        <h2>Cadastre-se</h2>
        <input type="text" class="input-field" placeholder="Nome">
        <input type="email" class="input-field" placeholder="E-mail">
        <input type="password" class="input-field" placeholder="Senha">
        <input type="password" class="input-field" placeholder="Repita a Senha">
        <input type="date" class="input-field" placeholder="Data de Nascimento">
        <div class="checkbox-container">
            <input type="checkbox" id="terms">
            <label for="terms">Concordo com os Termos da Plataforma</label>
        </div>
        <button class="register-btn">CADASTRAR</button>
    </div>
</body>
</html>