<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fiscaliza+</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="header">
        <div class="logo">
            <img src="img/Imagem_do_WhatsApp_de_2025-04-03_à_s__19.32.52_2dccf076-removebg-preview.png" alt="Fiscaliza+ Logo">
        </div>
        <div class="buttons">
            <button class="btn-create">CADASTRAR</button>
            <button class="btn-login">ENTRAR</button>
        </div>
    </div>
    <div class="container">
        <div class="content-container">
            <div class="content">
                <h1>Fiscalize sua cidade</h1>
                <p>Encontre buracos nas ruas, falta de iluminação pública, vazamentos de água ou outros problemas na sua cidade? Denuncie aqui!</p>
                <p>Com o Fiscaliza+, você pode reportar falhas na infraestrutura da cidade de forma rápida e fácil.</p>
            </div>
            <div class="image-container">
                <img src="img/Design sem nome (2).png" alt="Pessoas usando celular">
            </div>
        </div>
    </div>
</body>
</html>
