<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Login</title>
  <link rel="stylesheet" href="../css/style.css" />
</head>
<body>
  <div class="background"></div>
  <div class="overlay"></div>
  <div class="login-container">
    <div class="login-box">
      <img src="https://github.com/maurici035/Fiscaliza-/blob/main/fiscaliza-pi/public/frontend/img/freepik__create-a-logo-for-fiscaliza-featuring-a-stylized-m__94104%206.png?raw=true" alt="Ícone de login" class="icon" />
      <h2>Faça seu login</h2>
      <form>
        <input type="email" placeholder="Email" required />
        <input type="password" placeholder="Senha" required /> 
        <a href="telaRecuperarSenha.html" class="forgot-password">Esqueci minha senha </a>
        <button type="submit"><span>&rarr;</span></button>
      </form>
    </div>
  </div>
</body>
</html>