<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Fiscaliza+ | Login</title>
  <link rel="stylesheet" href="../../public/css/login.css"/>
  <script src="../js/login.js"></script>
  <link rel="icon" href="../assets/logo-menor.png" type="image/png">
</head>
<body>
  <div class="background"></div>
  <div class="overlay"></div>
  <div class="login-container">
    <div class="login-box">
      <img src="../assets/usuario-exemplo.png" alt="Ícone de login" class="icon" />
      <h2>Faça seu login</h2>
      <form>
        <input type="email" placeholder="Email" id="email" required />
        <input type="password" placeholder="Senha" id="senha" required /> 
        <a href="recuperar.html" class="forgot-password">Esqueci minha senha </a>
        <button type="submit"><span>&rarr;</span></button>
      </form>
    </div>
  </div>
  <script src="../js/login.js"></script>
</body>
</html>