<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fiscaliza+ | Recuperar Senha</title>
    <link rel="stylesheet" href="../css/recuperar-senha.css">
    <link rel="icon" href="../assets/logo-menor.png" type="image/png">
</head>
<body>
    <div class="container">
        <h2>Esqueceu sua senha?</h2>
        <p>Enviaremos um e-mail com instruções de como redefinir.</p>
        <input type="email" placeholder="Digite seu e-mail">
        <br>
        <button class="btn">➡</button>
    </div>
</body>
</html>