<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Recuperar Senha</title>
  <link rel="stylesheet" href="../css/login.css">
</head>
<body>
  <div class="background"></div>
  <div class="overlay"></div>
  <div class="login-container">
    <div class="login-box">
      <img src="../assets/Captura_de_tela_2025-04-09_151332-removebg-preview.png" alt="Ícone" class="icon">
      <h2>Esqueceu sua senha?</h2>
      <p style="font-size: 0.9em; margin-bottom: 20px;">
        Enviaremos um e-mail com instruções de <br>como redefinir
      </p>
      <form>
        <input type="email" placeholder="Digite seu e-mail" required />
        <button type="submit"><span>&rarr;</span></button>
      </form>
    </div>
  </div>
</body>
</html