<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VISUALIZAR DENUNCIAS DO MAPA</title>
    <link rel="stylesheet" href="VISUALIZAR DENUNCIAS DO MAPA.css">
</head>

<body>
  <div class="container">
    <div class="sidebar">
      
        <div class="menu-item logo-item">
  <img src="freepik__create-a-logo-for-fiscaliza-featuring-a-stylized-m__94104 6.png" alt="Logo Fiscaliza+" style="width: 50px; height: auto;" />
</div>

      <!-- Ícone Home -->
      <div class="menu-item">
        <img src="home.png" alt="Home" style="width: 24px; height: 24px;" />
      </div>
    
      <!-- Ícone Mensagens -->
      <div class="menu-item">
        <img src="https://raw.githubusercontent.com/maurici035/Fiscaliza-/main/fiscaliza-pi/public/frontend/img/message-square.png" alt="Mensagens" style="width: 24px; height: 24px;" />
      </div>
    
      <!-- Ícone Documentos -->
      <div class="menu-item">
        <img src="Document.png" alt="Documentos" style="width: 24px; height: 24px;" />
      </div>
    
      <!-- Ícone Perfil -->
      <div class="menu-item">
        <img src="User Rounded.png" alt="Perfil" style="width: 24px; height: 24px;" />
      </div>
    
      <!-- Ícone Sair -->
      <div class="bottom-icon">
        <img src="logout.png" alt="Sair" style="width: 24px; height: 24px;" />
      </div>
    </div>
    
    <div class="main-content">
      <div class="brand-name">
        <img src="fiscaliza+-name.png" alt="Brand Name">
      </div>
    </div>

    <!-- Nova div para a imagem centralizada -->
<div class="centered-image-container">
  <img src="a0523d46686c959f499f3a63a33ef3dd34a0eafb (1).png" alt="Imagem Centralizada" class="centered-image" />
</div>

<div class="top-right-image">
  <img src="Mask group (3).png" alt="Perfil" class="profile-image" />
</div>