<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fiscaliza+ | Mapa da Denúncia</title>
    <script src="../js/sidebar-loader.js"></script>
    <link rel="stylesheet" href="../css/visualizar-denuncia.css">
</head>
<body>

  <div id="sidebar-container"></div>

  <div class="main-content">
      <div class="brand-name">
        <img src="fiscaliza+-name.png" alt="Brand Name">
      </div>
  </div>

      <!-- Nova div para a imagem centralizada -->
  <div class="centered-image-container">
    <img src="a0523d46686c959f499f3a63a33ef3dd34a0eafb (1).png" alt="Imagem Centralizada" class="centered-image" />
  </div>

  <div class="top-right-image">
    <img src="Imagem do WhatsApp de 2025-05-07 à(s) 16.22.28_30a9973e.jpg" alt="Perfil" class="profile-image" />
  </div>